@model UserHeaderViewModel

<div class="btn-group mr-1">
    <div class="dropdown-toggle mr-5" style="cursor:pointer;" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.FirstName @Model.LastName
    </div>
    <div class="dropdown-menu mr-5">
        <a class="dropdown-item" asp-controller="user" asp-action="index" asp-route-userId="@Model.Id">Profil</a>
        <a class="dropdown-item" asp-controller="auth" asp-action="logout">Çıkış Yap</a>
    </div>
</div>
