@model List<TaskJobViewModel>

@{
    ViewData["Title"] = "Profil Sayfası";
}

<div class="d-flex justify-content-center rounded-circle" style="margin-top: 20px;">
    <div class="col-md-12">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header" style="background-color: #f5f5f5">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <span><i class="fa fa-tasks"></i></span>  <span class="ml-2" style="font-size:16px; font-weight:600;">Görev Listesi</span>
                </div>
            </div>
            <div class="scroll-area-sm" style="min-height:410px">
                <perfect-scrollbar class="ps-show-limits">
                    <div style="position: static;" class="ps ps--active-y">
                        <div class="ps-content">
                            <ul class=" list-group list-group-flush">
                                @foreach (var task in Model)
                                {
                                    <li class="list-group-item list-task">

                                        @if (task.Priority == 1)
                                        {
                                            <div class="todo-indicator bg-danger"></div>
                                        }
                                        else if (task.Priority == 2)
                                        {
                                            <div class="todo-indicator bg-warning"></div>
                                        }
                                        else
                                        {
                                            <div class="todo-indicator bg-success"></div>
                                        }
                                        <div class="widget-content p-0 ml-1">
                                            <div class="widget-content-wrapper d-flex">
                                                <div class="text-truncate" style="min-width:300px;">
                                                    <div class="widget-heading" style="font-size:16px; font-weight:bold;">@task.Title</div>
                                                    <div class="widget-subheading" style="font-size:12px">@task.CreatedDate</div>
                                                </div>

                                                <div class="text-truncate" style="min-width:480px;">
                                                    <div class="widget-heading" style="font-size:14px; font-weight:500;">@task.Description</div>
                                                </div>

                                                <div class="text-truncate" style="min-width:300px;">
                                                    <div class="widget-heading" style="font-size:16px">
                                                        @if (task.Priority == 1)
                                                        {
                                                            <span class="text-danger" style="font-size:14px; font-weight:bold;">Yüksek Öncelikli | Aktif</span>
                                                        }
                                                        else if (task.Priority == 2)
                                                        {
                                                            <span class="text-warning" style="font-size:14px; font-weight:bold;">Orta Öncelikli | Aktif</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-success" style="font-size:14px; font-weight:bold;">Düşük Öncelikli | Aktif</span>
                                                        }
                                                    </div>
                                                </div>

                                                <div class="widget-content-right">
                                                    <button class="border-0 btn-transition btn btn-outline-success">
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </button>
                                                    <button class="border-0 btn-transition btn btn-outline-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="d-block card-footer" style="background-color:#f5f5f5">
                <form class=" d-flex flex-row justify-content-between align-items-center py-3">
                    <div class="form-group w-25">
                        <label for="exampleInputEmail1">Görev Başlığı</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Bir görev giriniz.">
                    </div>

                    <div class="form-group w-25">
                        <label for="exampleInputEmail1">Görev Açıklaması</label>
                        <textarea class="form-control" maxlength="50" rows="1" placeholder="Bir açıklama giriniz."></textarea>
                    </div>

                    <div class="form-check d-flex flex-column justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1">
                            <label class="form-check-label text-danger" style="font-weight: 500;" for="exampleRadios1">
                                Yüksek Öncelikli
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2">
                            <label class="form-check-label text-warning" style="font-weight: 500;" for="exampleRadios2">
                                Orta Öncelikli
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="3">
                            <label class="form-check-label text-success" style="font-weight: 500;" for="exampleRadios3">
                                Düşük Öncelikli
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary" style="width:150px; height:50px;">
                        Ekle +
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
